@model EjemploProyecto.Pages.ADM_Usuarios.Cambio_ClaveModel 
@{ ViewData["Title"] = "Cambio de Clave"; }

<h1>Autogenerar Clave</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <!-- Identificación -->
            <div class="form-group mb-3">
                <label asp-for="Usuario.Identificacion" class="control-label"></label>
                <input asp-for="Usuario.Identificacion" class="form-control" readonly />
            </div>

            <!-- Nombre -->
            <div class="form-group mb-3">
                <label asp-for="Usuario.Nombre" class="control-label"></label>
                <input asp-for="Usuario.Nombre" class="form-control" readonly />
            </div>

            <!-- Clave generada -->
            <div class="form-group mb-3">
                <label asp-for="Usuario.Contrasena" class="control-label">Clave Autogenerada</label>
                <input asp-for="Usuario.Contrasena" class="form-control" readonly />
            </div>

            <div class="form-group mb-3 d-flex gap-2">
                <button type="submit" class="btn btn-success">Aceptar</button>
                <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
