@page
@model EjemploProyecto.Pages.Inconsistencias.CreateModel

<link rel="stylesheet" href="~/css/Estilos.css">

<h2>Nueva Inconsistencia</h2>

<form method="post">
    <div class="form-group mb-3">
        <label class="control-label">Nombre</label>
        <input asp-for="Inconsistencia.Nombre_Inconsistencia" class="form-control" maxlength="40" required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" />
        <span asp-validation-for="Inconsistencia.Nombre_Inconsistencia" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>