@page "{id:int}"
@model EjemploProyecto.Pages.Inconsistencias.DeleteModel

<link rel="stylesheet" href="~/css/Estilos.css">

<h2>Eliminar Inconsistencia</h2>

<div class="mb-3">
    <p>¿Seguro que desea eliminar el registro <strong class="text-danger">@Model.Inconsistencia.Nombre_Inconsistencia</strong>?</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Inconsistencia.ID_Inconsistencia" />

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>