@page
@model EjemploProyecto.Pages.ADM_Ausencias.IndexModel
@{
    ViewData["Title"] = "Motivos de inconsistencias";
}

<h1>Mantenimiento de Motivos</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Nuevo</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID de motivo</th>
            <th>Nombre del motivo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Motivos)
        {
            <tr>
                <td>@item.ID_Motivo</td>
                <td>@item.Nombre_Motivo</td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-page="Edit" asp-route-id="@item.ID_Motivo">Editar</a>
                    <a class="btn btn-danger btn-sm" asp-page="Delete" asp-route-id="@item.ID_Motivo">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>