@page
@model EjemploProyecto.Pages.ADM_Bienvenida.BienvenidaModel
@{
    ViewData["Title"] = "Bienvenida";
}

<link rel="stylesheet" href="~/css/Estilos.css">

<div class="welcome-container">
    <div class="welcome-header">
        <h2>Bienvenido @Model.NombreCompleto</h2>
    </div>
</div>